*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: none;
    transition: 0.2s ease;
}

html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

:root{
    --hoverColor:#F27a10;
    --textColor:#000;
}

.header{
    margin: 4rem 12rem 0rem;

}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    border: none;
    width: 62rem;
    padding: 13px 17px;
    border-radius: 0.7rem;
    background-color: #f5f3ef;
}

.search form{
    display: flex;
    align-items: center;
}

.search input{
    width: 100%;
    background: #f5f3ef;
    font-size: 14px;
    font-weight: 100;
    color: #626262;
}

.search input::placeholder{
    font-size: 13px;
}

.search  svg{
  fill: #F27a10;
  stroke: #F27a10;
  stroke-width: 0.7px;
  cursor: pointer;
}

.search input:focus{
    background: #fff;
}
.active{
    background: #fff;
    border: 1.5px solid rgb(250, 7, 7);
    box-shadow: -1.4px -1.3px 5px rgb(172, 158, 162);
}

label{
    display: none;
}

.login{
   font-size: 1.2rem;
   color: #5c5858;
   font-weight: bold;
   position: relative;
   padding: 1.5rem;
}

.login span{
    display: flex;
    align-items: center;
}

.login svg {
    fill: #fff;
    stroke: #000;
    margin-right:0.4rem;
}

.favicon,
.shopping{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.5rem;
}

.favicon a,
.shopping a{
    color:#5c5858 ;
}

.favicon span,
.shopping span{
    display: flex;
    align-items: center;
}

.favicon svg,
.shopping svg{
    fill: #fff;
    stroke: #000;
    stroke-width: 4rem;
    margin-right: 0.5rem;
}

.login:hover,
.favicon:hover a,
.shopping:hover a{
    color: #F27a10;
}

.login:hover svg,
.favicon:hover svg,
.shopping:hover svg{
    fill: #F27a10;
    stroke: #F27a10;
}